In [1]:
import os
wd = os.path.normpath(os.getcwd() + '/..')
os.chdir(wd)
os.getcwd()

'/Users/hyunsung/Workspace/socceraction'

In [2]:
import numpy as np
import pandas as pd
import pymssql
pd.set_option('display.width', 250)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 30)

In [3]:
server = '210.122.153.11:2002'
database = 'OptaDB'
username = 'Fitogether'
password = 'vltxnrpej@vmfhcnrrnapdlselql!'
conn = pymssql.connect(server, username, password, database)
cursor = conn.cursor()

In [4]:
query = 'select * from INFORMATION_SCHEMA.TABLES;'
metadata = pd.read_sql(sql=query, con=conn)
metadata

   TABLE_CATALOG TABLE_SCHEMA                       TABLE_NAME  TABLE_TYPE
0         OptaDB          dbo      PDAT_TB_UOAT_REC01_20190522  BASE TABLE
1         OptaDB          dbo        PDAT_TB_UOAT_REC01_INSTAT  BASE TABLE
2         OptaDB          dbo    PDAT_TB_UOAT_REC01_BK20190710  BASE TABLE
3         OptaDB          dbo      PDAT_TB_UOAT_REC01_20190723  BASE TABLE
4         OptaDB          dbo      PDAT_TB_UOAT_REC01_20191205  BASE TABLE
5         OptaDB          dbo               PDAT_TB_UOPL_REC01  BASE TABLE
6         OptaDB          dbo               PDAT_TB_UOPL_REC02  BASE TABLE
7         OptaDB          dbo               PDAT_TB_UOTM_REC01  BASE TABLE
8         OptaDB          dbo                PDAT_TB_UOPL_PASS  BASE TABLE
9         OptaDB          dbo       PDAT_TB_UOPL_REC01_BEPRO11  BASE TABLE
10        OptaDB          dbo       PDAT_TB_UOPL_REC02_BEPRO11  BASE TABLE
11        OptaDB          dbo       PDAT_TB_UOTM_REC01_BEPRO11  BASE TABLE
12        OptaDB          dbo        PDAT_TB_UOPL_PASS_BEPRO11  BASE TABLE
13        OptaDB          dbo       PDAT_TB_UOAT_REC01_BEPRO11  BASE TABLE
14        OptaDB          dbo               PDAT_TB_UOAT_REC01  BASE TABLE
15        OptaDB          dbo      PDAT_TB_UOAT_REC01_20200421  BASE TABLE
16        OptaDB          dbo          PDAT_TB_GAMETIMESHARE01  BASE TABLE
17        OptaDB          dbo  PDAT_TB_GAMETIMESHARE01_BEPRO11  BASE TABLE
18        OptaDB          dbo      PDAT_TB_GAMETIMESHARE01_TAK  BASE TABLE
19        OptaDB          dbo      PDAT_TB_UOAT_REC01_20190318  BASE TABLE

In [5]:
metadata.to_csv('data/kleague/metadata.csv', index=False)

In [30]:
for table_name in metadata['TABLE_NAME']:
    query = f'select * from {table_name};'
    df = pd.read_sql(sql=query, con=conn)
    print(f'{table_name} - saving {len(df)} rows')
    df.to_csv(f'data/kleague/{table_name}.csv', index=False, encoding='utf-8-sig')

PDAT_TB_UOAT_REC01_20190522 - saving 528987 rows
PDAT_TB_UOAT_REC01_INSTAT - saving 988182 rows
PDAT_TB_UOAT_REC01_BK20190710 - saving 1132973 rows
PDAT_TB_UOAT_REC01_20190723 - saving 1222577 rows
PDAT_TB_UOAT_REC01_20191205 - saving 1513950 rows
PDAT_TB_UOPL_REC01 - saving 78711 rows
PDAT_TB_UOPL_REC02 - saving 5827 rows
PDAT_TB_UOTM_REC01 - saving 5556 rows
PDAT_TB_UOPL_PASS - saving 303228 rows
PDAT_TB_UOPL_REC01_BEPRO11 - saving 770 rows
PDAT_TB_UOPL_REC02_BEPRO11 - saving 57 rows
PDAT_TB_UOTM_REC01_BEPRO11 - saving 56 rows
PDAT_TB_UOPL_PASS_BEPRO11 - saving 6040 rows
PDAT_TB_UOAT_REC01_BEPRO11 - saving 38767 rows
PDAT_TB_UOAT_REC01 - saving 2695868 rows
PDAT_TB_UOAT_REC01_20200421 - saving 460075 rows
PDAT_TB_GAMETIMESHARE01 - saving 5772 rows
PDAT_TB_GAMETIMESHARE01_BEPRO11 - saving 14 rows
PDAT_TB_GAMETIMESHARE01_TAK - saving 462 rows
PDAT_TB_UOAT_REC01_20190318 - saving 528107 rows

In [12]:
table_name = 'PDAT_TB_UOAT_REC01'
df = pd.read_csv(f'data/kleague/{table_name}.csv', header=0)
df = df.drop_duplicates()
df['EVENT_ID'] = np.arange(len(df)) + 1
# df.to_csv('data/kleague/event_records.csv', index=False)
df

,SEQ,MEET_YEAR,MEET_SEQ,GAME_ID,TEAM_ID,PLAYER_ID,EVENT_ID,PERIOD_ID,MIN_TIME,SEC_TIME,START_POINT_X,START_POINT_Y,TYPE_ID,HA_CODE,END_POINT_X,...,END_POINT_Z,OWN_GOAL_CODE,START_POINT,TYPE_CD,TYPE_DETAIL_CD,TYPE_DETAIL_CD2,PASS_YN_CD,KEYPASS_YN_CD,ASSIST_YN_CD,PA_AREA_YN_CD,FRONT_PASS_YN_CD,PASS_LENGTH,DUELS_CD,SHOT_GOALPOST_SITE,EVENT_BEPRO
0,15318856,2018,1.0,2,K07,20070016,1,1.0,0.0,1.0,50.0,50.0,1.0,A,63.0,...,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,N,14.5,NaN,NaN,NaN
1,15318857,2018,1.0,2,K07,20160065,2,1.0,0.0,5.0,63.0,57.0,1.0,A,63.0,...,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,Y,11.8,NaN,NaN,NaN
2,15318858,2018,1.0,2,K07,20160071,3,1.0,0.0,6.0,63.0,39.0,1.0,A,67.0,...,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,N,19.6,NaN,NaN,NaN
3,15318859,2018,1.0,2,K07,20120029,4,1.0,0.0,8.0,67.0,11.0,1.0,A,72.0,...,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,N,12.2,NaN,NaN,NaN
4,15318860,2018,1.0,2,K07,20130327,5,1.0,0.0,10.0,70.0,17.0,1.0,A,45.0,...,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,Y,28.2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695863,68208979,2021,3.0,2,K10,20180220,2695864,2.0,96.0,25.0,35.0,70.5,NaN,A,51.3,...,NaN,NaN,NaN,PS,PSS,NaN,Y,N,N,NaN,Y,17.7,NaN,NaN,52668296.0
2695864,68208980,2021,3.0,2,K10,20180259,2695865,2.0,96.0,26.0,51.3,77.1,NaN,A,54.8,...,NaN,NaN,NaN,PS,PSU,NaN,N,N,N,NaN,Y,3.9,NaN,NaN,52668297.0
2695865,68208981,2021,3.0,2,K21,20140134,2695866,2.0,96.0,31.0,33.9,98.3,NaN,H,17.3,...,NaN,NaN,NaN,PS,PSU,NaN,N,N,N,NaN,Y,17.3,NaN,NaN,52668314.0
2695866,68208982,2021,3.0,2,K10,20200125,2695867,2.0,96.0,33.0,17.9,98.5,NaN,A,NaN,...,NaN,NaN,NaN,DF,CLG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52669101.0
2695867,68208983,2021,3.0,2,K21,20200077,2695868,2.0,57.0,50.0,35.9,39.5,NaN,H,NaN,...,NaN,NaN,NaN,FO,YLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52668736.0

In [15]:
table_name = 'PDAT_TB_UOAT_REC01_20200421'
df = pd.read_csv(f'data/kleague/{table_name}.csv', header=0)
df

,SEQ,MEET_YEAR,MEET_SEQ,GAME_ID,TEAM_ID,PLAYER_ID,EVENT_ID,PERIOD_ID,MIN_TIME,SEC_TIME,START_POINT_X,START_POINT_Y,TYPE_ID,HA_CODE,END_POINT_X,END_POINT_Y,END_POINT_Z,OWN_GOAL_CODE,START_POINT,TYPE_CD,TYPE_DETAIL_CD,TYPE_DETAIL_CD2,PASS_YN_CD,KEYPASS_YN_CD,ASSIST_YN_CD,PA_AREA_YN_CD,FRONT_PASS_YN_CD,PASS_LENGTH,DUELS_CD,SHOT_GOALPOST_SITE
0,17063772,2019,1.0,6,K03,20110134,60341.0,2.0,68.0,7.0,55.5,26.2,NaN,A,NaN,NaN,NaN,NaN,NaN,DF,RCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17063773,2019,1.0,6,K09,20150014,60342.0,2.0,68.0,12.0,71.2,10.5,NaN,H,NaN,NaN,NaN,NaN,NaN,DF,RCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17063774,2019,1.0,6,K03,20150253,60343.0,2.0,68.0,16.0,68.8,4.1,NaN,A,NaN,NaN,NaN,NaN,NaN,DF,RCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17063775,2019,1.0,6,K09,20110112,60344.0,2.0,68.0,20.0,72.8,13.9,NaN,H,NaN,NaN,NaN,NaN,NaN,DF,RCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17063776,2019,1.0,6,K03,20150067,60345.0,2.0,68.0,35.0,12.4,24.1,NaN,A,NaN,NaN,NaN,NaN,NaN,DF,RCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460070,17133441,2019,1.0,68,K04,20130393,55504.0,2.0,68.0,40.0,55.3,28.2,NaN,A,61.2,38.8,NaN,NaN,NaN,PS,PSS,NaN,Y,NaN,NaN,NaN,Y,10.000,NaN,NaN
460071,17133442,2019,1.0,68,K04,20160031,55506.0,2.0,68.0,42.0,66.0,40.9,NaN,A,72.0,47.9,NaN,NaN,NaN,PS,PSS,NaN,Y,NaN,NaN,NaN,Y,8.280,NaN,NaN
460072,17133443,2019,1.0,68,K04,20170037,55508.0,2.0,68.0,43.0,68.8,46.4,NaN,A,65.2,58.1,NaN,NaN,NaN,PS,PSS,NaN,Y,NaN,NaN,NaN,N,9.261,NaN,NaN
460073,17133444,2019,1.0,68,K04,20160031,55509.0,2.0,68.0,45.0,65.2,58.1,NaN,A,76.9,85.8,NaN,NaN,NaN,PS,PSU,NaN,N,NaN,NaN,NaN,Y,23.715,NaN,NaN
460074,17133445,2019,1.0,68,K05,20170185,55510.0,2.0,68.0,46.0,76.9,85.8,NaN,H,NaN,NaN,NaN,NaN,NaN,DF,INT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
events = pd.read_csv(f'data/kleague/events.csv', header=0)
events

,MEET_YEAR,MEET_SEQ,GAME_ID,TEAM_ID,PLAYER_ID,EVENT_ID,PERIOD_ID,MIN_TIME,SEC_TIME,START_POINT_X,START_POINT_Y,TYPE_ID,HA_CODE,END_POINT_X,END_POINT_Y,END_POINT_Z,OWN_GOAL_CODE,START_POINT,TYPE_CD,TYPE_DETAIL_CD,TYPE_DETAIL_CD2,PASS_YN_CD,KEYPASS_YN_CD,ASSIST_YN_CD,PA_AREA_YN_CD,FRONT_PASS_YN_CD,PASS_LENGTH,DUELS_CD,SHOT_GOALPOST_SITE,EVENT_BEPRO
0,2018,1.0,2,K07,20070016,1,1.0,0.0,1.0,50.0,50.0,1.0,A,63.0,57.0,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,N,14.5,NaN,NaN,NaN
1,2018,1.0,2,K07,20160065,2,1.0,0.0,5.0,63.0,57.0,1.0,A,63.0,39.0,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,Y,11.8,NaN,NaN,NaN
2,2018,1.0,2,K07,20160071,3,1.0,0.0,6.0,63.0,39.0,1.0,A,67.0,11.0,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,N,19.6,NaN,NaN,NaN
3,2018,1.0,2,K07,20120029,4,1.0,0.0,8.0,67.0,11.0,1.0,A,72.0,27.0,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,N,12.2,NaN,NaN,NaN
4,2018,1.0,2,K07,20130327,5,1.0,0.0,10.0,70.0,17.0,1.0,A,45.0,5.0,NaN,NaN,R,PS,PSS,NaN,Y,NaN,NaN,NaN,Y,28.2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167754,2021,3.0,2,K10,20180220,2167755,2.0,96.0,25.0,35.0,70.5,NaN,A,51.3,77.1,NaN,NaN,NaN,PS,PSS,NaN,Y,N,N,NaN,Y,17.7,NaN,NaN,52668296.0
2167755,2021,3.0,2,K10,20180259,2167756,2.0,96.0,26.0,51.3,77.1,NaN,A,54.8,74.9,NaN,NaN,NaN,PS,PSU,NaN,N,N,N,NaN,Y,3.9,NaN,NaN,52668297.0
2167756,2021,3.0,2,K21,20140134,2167757,2.0,96.0,31.0,33.9,98.3,NaN,H,17.3,98.2,NaN,NaN,NaN,PS,PSU,NaN,N,N,N,NaN,Y,17.3,NaN,NaN,52668314.0
2167757,2021,3.0,2,K10,20200125,2167758,2.0,96.0,33.0,17.9,98.5,NaN,A,NaN,NaN,NaN,NaN,NaN,DF,CLG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52669101.0
2167758,2021,3.0,2,K21,20200077,2167759,2.0,57.0,50.0,35.9,39.5,NaN,H,NaN,NaN,NaN,NaN,NaN,FO,YLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52668736.0

In [13]:
season = 2018
season_events = events[events['MEET_YEAR'] == season]
season_events.groupby(['TYPE_CD', 'TYPE_DETAIL_CD'])['EVENT_ID'].count()

TYPE_CD  TYPE_DETAIL_CD
DF       CLG                18640
         INT                 8500
         RCV                45771
         STB                 2416
         TKS                 8548
         TKU                 3963
FO       FOC                10595
         FOW                10124
         OFS                 1203
         RDC                   53
         YLC                 1221
         YLCT                  35
GK       CT                   470
         DR                    82
         PC                   504
         SV                  2499
PS       OPCS                2218
         OPCU                7978
         PSS               251785
         PSU                81494
         STCS                1247
         STCU                3111
SR       DS                  4802
         DU                  5039
ST       AST                 2430
         BT                  2542
         GL                  1017
         MST                 4305
Name: EVENT_ID, dtype: int64